In [6]:
print("Hello World")

Hello World

In [7]:
import pandas as pd

df = pd.DataFrame({
        'nama':['elys','adis','andu','adel','fanny','ratu'],
        'umur':[23,78,22,19,12,33],
        'propinsi':['Sumatera Selatan','Jatim','DKI','Bali','Papua','NTT']
     })
df

    nama  umur          propinsi
0   elys    23  Sumatera Selatan
1   adis    78             Jatim
2   andu    22               DKI
3   adel    19              Bali
4  fanny    12             Papua
5   ratu    33               NTT

In [8]:
#Data Structure
import pandas as pd

df = pd.DataFrame({
        'nama':['elys','adis','andu','adel','fanny','ratu'],
        'umur':[23,78,22,19,12,33],
        'propinsi':['Sumatera Selatan','Jatim','DKI','Bali','Papua','NTT']
     })
df

    nama  umur          propinsi
0   elys    23  Sumatera Selatan
1   adis    78             Jatim
2   andu    22               DKI
3   adel    19              Bali
4  fanny    12             Papua
5   ratu    33               NTT

In [9]:
import pandas as pd
#Series
number_list = pd.Series([1,2,3,4,5,6])
print("Series: ")
print(number_list)
#DataFrame
matrix =[[1,2,3],
         ['a','b','c'],
         [3,4,5],
         ['d','e','f']]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print("matrix_list")

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame:
matrix_list

In [10]:
import pandas as pd
#Series
number_list = pd.Series([1,2,3,4,5,6])
print("Series: ")
print(number_list)
#DataFrame
matrix =[[1,2,3],
         ['a','b','c'],
         [3,4,5],
         ['d','e','f']]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  e  f

In [11]:
#Flow Control
num = 2

if num > 0:
    print("Angka Positif")
elif num == 0:
    print("Nol")
else :
    print("Angka Negatif")

Angka Positif

In [12]:
#Flow Control
alamat = 'sleman'

if alamat == 'purbalingga':
    print('boleh masuk !')
elif alamat == 'sleman':
    print('ya boleh lah')
else :
    print('mohon di periksa')

ya boleh lah

In [13]:
#Flow Control
n = 5

while(n <= 30):
    print(n)
    n += 1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [14]:
#File I/O write
with open ("names.txt", 'w', encoding = 'utf-8') as f :
    f.write("Elys\n")
    f.write("Adiska\n")
    f.write("Pandu\n")

In [15]:
#File I/O read
f = open("names.txt", 'r', encoding= 'utf-8')
print(f.read())

Elys
Adiska
Pandu

In [16]:
data = {
    'apple': [3, 2, 0, 1],
    'oranges': [4, 5, 6, 7]
}

purchases = pd.DataFrame(data)
print(purchases)

   apple  oranges
0      3        4
1      2        5
2      0        6
3      1        7

In [17]:
import re 
text = """101 COM Computers
205 MAT Mathematics
189 ENG English"""
print(re.findall('[A-Za-z]{4,}', text))

['Computers', 'Mathematics', 'English']

In [18]:
#Untuk membaca file json
import pandas as pd
df = pd.read_json('purchases.json')
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [1]:
#Untuk membaca file csv
import pandas as pd
df = pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [20]:
#Operators
a = 9
b = 7
print(a == 9 and b == 8)

False

In [21]:
#flow control break statement
for val in "Elys":
    print(val)
    if val == "y":
        break

E
l
y

In [22]:
#function dengan parameter
def my_function(nama, lengkap):
      print(nama + " " + lengkap)

my_function("Elys", "S")

Elys S

In [23]:
#Untuk import file csv
import pandas as pd
df = pd.read_csv('new_kamusalay.csv', encoding='latin-1')
print (df)

       Unnamed: 0 anakjakartaasikasik           anak jakarta asyik asyik
0               0        pakcikdahtua                  pak cik sudah tua
1               1      pakcikmudalagi                  pak cik muda lagi
2               2         t3tapjokowi                       tetap jokowi
3               3                  3x                          tiga kali
4               4              aamiin                               amin
...           ...                 ...                                ...
15161       15161           mendikbud  menteri pendidikan dan kebudayaan
15162       15162              mendag                menteri perdagangan
15163       15163             menaker               menteri tenaga kerja
15164       15164            memetwit                            mentwit
15165       15165            megangin                           memegang

[15166 rows x 3 columns]

In [24]:
#Untuk export file csv
import pandas as pd
df.to_csv('new_kamusalay.csv')
df

       Unnamed: 0 anakjakartaasikasik           anak jakarta asyik asyik
0               0        pakcikdahtua                  pak cik sudah tua
1               1      pakcikmudalagi                  pak cik muda lagi
2               2         t3tapjokowi                       tetap jokowi
3               3                  3x                          tiga kali
4               4              aamiin                               amin
...           ...                 ...                                ...
15161       15161           mendikbud  menteri pendidikan dan kebudayaan
15162       15162              mendag                menteri perdagangan
15163       15163             menaker               menteri tenaga kerja
15164       15164            memetwit                            mentwit
15165       15165            megangin                           memegang

[15166 rows x 3 columns]

In [25]:
#Melihat data teratas
df.head()

   Unnamed: 0 anakjakartaasikasik anak jakarta asyik asyik
0           0        pakcikdahtua        pak cik sudah tua
1           1      pakcikmudalagi        pak cik muda lagi
2           2         t3tapjokowi             tetap jokowi
3           3                  3x                tiga kali
4           4              aamiin                     amin

In [26]:
#Melihat data terbawah
df.tail()

       Unnamed: 0 anakjakartaasikasik           anak jakarta asyik asyik
15161       15161           mendikbud  menteri pendidikan dan kebudayaan
15162       15162              mendag                menteri perdagangan
15163       15163             menaker               menteri tenaga kerja
15164       15164            memetwit                            mentwit
15165       15165            megangin                           memegang

In [27]:
#Mencari informasi dari Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15166 entries, 0 to 15165
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                15166 non-null  int64
 1   anakjakartaasikasik       15166 non-null  object
 2   anak jakarta asyik asyik  15166 non-null  object
dtypes: int64(1), object(2)
memory usage: 355.6+ KB

In [28]:
#Mencari jumlah data atau jumlah index
df.shape

(15166, 3)

In [46]:
#Untuk import file csv
import pandas as pd
df = pd.read_csv('data.csv', encoding='latin-1')
print (df)

                                                   Tweet  HS  Abusive  \
0      - disaat semua cowok berusaha melacak perhatia...   1        1
1      RT USER: USER siapa yang telat ngasih tau elu?...   0        1
2      41. Kadang aku berfikir, kenapa aku tetap perc...   0        0
3      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...   0        0
4      USER USER Kaum cebong kapir udah keliatan dong...   1        1
...                                                  ...  ..      ...
13164  USER jangan asal ngomong ndasmu. congor lu yg ...   1        1
13165                       USER Kasur mana enak kunyuk'   0        1
13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...   0        0
13167  USER USER USER USER Bom yang real mudah terdet...   0        0
13168  USER Mana situ ngasih(": itu cuma foto ya kuti...   1        1

       HS_Individual  HS_Group  HS_Religion  HS_Race  HS_Physical  HS_Gender  \
0                  1         0            0        0            0          0
1                  0         0            0        0            0          0
2                  0         0            0        0            0          0
3                  0         0            0        0            0          0
4                  0         1            1        0            0          0
...              ...       ...          ...      ...          ...        ...
13164              1         0            0        0            1          0
13165              0         0            0        0            0          0
13166              0         0            0        0            0          0
13167              0         0            0        0            0          0
13168              1         0            0        0            0          0

       HS_Other  HS_Weak  HS_Moderate  HS_Strong
0             1        1            0          0
1             0        0            0          0
2             0        0            0          0
3             0        0            0          0
4             0        0            1          0
...         ...      ...          ...        ...
13164         0        1            0          0
13165         0        0            0          0
13166         0        0            0          0
13167         0        0            0          0
13168         1        1            0          0

[13169 rows x 13 columns]

In [30]:
#Filtering Kolom Pada DataFrame
a = df[['Tweet', 'Abusive']]
print (a)

                                                   Tweet  Abusive
0      - disaat semua cowok berusaha melacak perhatia...        1
1      RT USER: USER siapa yang telat ngasih tau elu?...        1
2      41. Kadang aku berfikir, kenapa aku tetap perc...        0
3      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...        0
4      USER USER Kaum cebong kapir udah keliatan dong...        1
...                                                  ...      ...
13164  USER jangan asal ngomong ndasmu. congor lu yg ...        1
13165                       USER Kasur mana enak kunyuk'        1
13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...        0
13167  USER USER USER USER Bom yang real mudah terdet...        0
13168  USER Mana situ ngasih(": itu cuma foto ya kuti...        1

[13169 rows x 2 columns]

In [31]:
#Melihat 5 Data Teratas Filtering Kolom
a.head()

                                               Tweet  Abusive
0  - disaat semua cowok berusaha melacak perhatia...        1
1  RT USER: USER siapa yang telat ngasih tau elu?...        1
2  41. Kadang aku berfikir, kenapa aku tetap perc...        0
3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...        0
4  USER USER Kaum cebong kapir udah keliatan dong...        1

In [32]:
#Filter berdasarkan Nilai Abusive
a_filter = df[df['Abusive'] == 1]
a_filter = a_filter[['Tweet','Abusive']]
a_filter.head()

                                               Tweet  Abusive
0  - disaat semua cowok berusaha melacak perhatia...        1
1  RT USER: USER siapa yang telat ngasih tau elu?...        1
4  USER USER Kaum cebong kapir udah keliatan dong...        1
5  USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...        1
7  Gue baru aja kelar re-watch Aldnoah Zero!!! pa...        1

In [33]:
#Data belum di Duplikasi
df.shape

(13169, 13)

In [39]:
#Proses Menghilangkan Duplikasi data.csv
temp_df = df.drop_duplicates()
temp_df.shape

(13044, 13)

In [47]:
#Angka 0 tidak ada missing values di data.csv
df.isnull().sum()

Tweet            0
HS               0
Abusive          0
HS_Individual    0
HS_Group         0
HS_Religion      0
HS_Race          0
HS_Physical      0
HS_Gender        0
HS_Other         0
HS_Weak          0
HS_Moderate      0
HS_Strong        0
dtype: int64

In [48]:
#Membuat kolom baru berdasarkan nilai dari kolom
def rating_function(x):
    if x == 0:
        return "galau"
    else: 
        return "songong"

In [49]:
df_filter = df[['Tweet', 'Abusive']]
df_filter.head()

                                               Tweet  Abusive
0  - disaat semua cowok berusaha melacak perhatia...        1
1  RT USER: USER siapa yang telat ngasih tau elu?...        1
2  41. Kadang aku berfikir, kenapa aku tetap perc...        0
3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...        0
4  USER USER Kaum cebong kapir udah keliatan dong...        1

In [2]:
#Memisahkan Kata Regex
import re
text = """101 COM Computers
205 MAT Mathematics
189 ENG English"""

text = re.split('\s+', text)
print(text)

['101', 'COM', 'Computers', '205', 'MAT', 'Mathematics', '189', 'ENG', 'English']

In [3]:
import re 
text = """101 COM \t Computers
205 MAT \t Mathematics
189 ENG \t English"""

text = re.sub('\t', '-', text)
print(text)

101 COM - Computers
205 MAT - Mathematics
189 ENG - English

In [1]:
#Untuk import file csv
import pandas as pd
df = pd.read_csv('abusive.csv', encoding='latin-1')
print (df)

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [2]:
#Untuk import file csv
import pandas as pd
df = pd.read_csv('new_kamusalay.csv', encoding='latin-1')
print (df)

       Unnamed: 0.1  Unnamed: 0 anakjakartaasikasik  \
0                 0           0        pakcikdahtua
1                 1           1      pakcikmudalagi
2                 2           2         t3tapjokowi
3                 3           3                  3x
4                 4           4              aamiin
...             ...         ...                 ...
15161         15161       15161           mendikbud
15162         15162       15162              mendag
15163         15163       15163             menaker
15164         15164       15164            memetwit
15165         15165       15165            megangin

                anak jakarta asyik asyik
0                      pak cik sudah tua
1                      pak cik muda lagi
2                           tetap jokowi
3                              tiga kali
4                                   amin
...                                  ...
15161  menteri pendidikan dan kebudayaan
15162                menteri perdagangan
15163               menteri tenaga kerja
15164                            mentwit
15165                           memegang

[15166 rows x 4 columns]

In [1]:
#Untuk import file csv
import pandas as pd
df = pd.read_csv('data.csv', encoding='latin-1')
print (df)

                                             ï»¿Tweet  HS  Abusive  \
0   - disaat semua cowok berusaha melacak perhatia...   1        1
1   RT USER: USER siapa yang telat ngasih tau elu?...   0        1
2   41. Kadang aku berfikir, kenapa aku tetap perc...   0        0
3   USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...   0        0
4   USER USER Kaum cebong kapir udah keliatan dong...   1        1
5   USER Ya bani taplak dkk \xf0\x9f\x98\x84\xf0\x...   1        1
6   deklarasi pilkada 2018 aman dan anti hoax warg...   0        0
7   Gue baru aja kelar re-watch Aldnoah Zero!!! pa...   0        1
8   Nah admin belanja satu lagi port terbaik nak m...   0        0
9                       USER Enak lg klo smbil ngewe'   0        1
10  Setidaknya gw punya jari tengah buat lu, sebel...   1        1
11  USER USER USER USER BANCI KALENG MALU GA BISA ...   1        1
12  Kalo belajar ekonomi mestinya jago memprivatis...   0        0
13  Aktor huruhara 98 Prabowo S ingin lengserkan p...   1        0
14  USER Bu guru enakan jadi jablay atau guru esde...   1        1
15  USER USER USER USER USER USER Lawan bicara gw ...   1        1
16        Belakangan ini kok fikiran ampas banget ya'   0        0
17  Ari sarua beki mah repeh monyet\xf0\x9f\x98\x8...   0        1
18  Jadi cowo itu harus Gantle kalo ga Gantle itu ...   1        1
19                USER Slga mnr bom \xf0\x9f\x98\x82'   0        0
20  Asw ya tapi gua jarang ngambek, tacut wkkwkwkw...   0        1
21  USER kalo kamu noob pasti peluang disakitin ny...   0        0
22  USER Joko Widodo dinilai sebagai presiden terl...   0        0
23  PELAJAR SMA KEC BILAH HILIR DEKLARASI ANTI HOA...   0        0
24  Bandara Udara Internasional Kertajati dibangun...   0        0
25  Siapapun gubernur dan presidennya, rakyatnya, ...   0        0
26         Ini si USER kerjaannya delay mulu! Setan!'   1        1
27  menurutku pintu sorga ada yaitu pintu sorga ya...   0        0
28  RT USER USER USER PKI hanya muncul jika jelang...   1        0
29  USER USER Itu mah sdh nenek-nenek sy heran sam...   1        1
30  USER USER USER USER USER USER USER USER USER I...   1        0
31  Dari habis sahur sampe jam 10. Sibayik udah ne...   0        0
32  USER Gak kak emak mah gak demen ama yang sipit...   0        0
33  RT USER: Kelakuan homok jaman now, ngentot aja...   0        1
34  USER Ga kak, gua bukan orang jawa maaf yak :(;...   0        0
35  Pegawai Guardian training lagi kek Mentang2 gu...   1        1
36  \xe2\x80\x9dPara Bajingan yang telah melukai L...   0        1
37  ajakan menolak berita hoax dan sukseskan pilka...   0        0
38  USER USER Presiden RI Jokowi luarBiasa kerja n...   0        0
39                     Edan emang goollnya fabiano!!'   0        1
40  GAPERNAH MENDALAMI AL-QURAN YA BANG??? PANTESA...   1        1
41  Sangat terlihat beda sekali Kewibawaannya ,; y...   0        0
42  Anjir baru kali ini lihat orang bego mau debat...   1        1
43  #GubernurZamanNow #GusIpulPuti2 #GanjarYasin1 ...   0        0
44  USER USER Apa iya Islam itu ga boleh dilokalis...   0        0
45  Ciptakan Situasi Kamtibmas Menjelang Pilkada 2...   0        0
46  USER USER positif kok.\nse-positif respon masy...   0        0
47  USER USER USER USER Kata Sembahyang mengadopsi...   0        0

    HS_Individual  HS_Group  HS_Religion  HS_Race  HS_Physical  HS_Gender  \
0               1         0            0        0            0          0
1               0         0            0        0            0          0
2               0         0            0        0            0          0
3               0         0            0        0            0          0
4               0         1            1        0            0          0
5               0         1            0        0            0          0
6               0         0            0        0            0          0
7               0         0            0        0            0          0
8               0         0            0        0            0          0
9               0         0            0        0            0          0
10              1         0            0        0            0          0
11              1         0            0        0            0          1
12              0         0            0        0            0          0
13              1         0            0        0            0          0
14              1         0            0        0            0          1
15              1         0            1        0            0          0
16              0         0            0        0            0          0
17              0         0            0        0            0          0
18              0         1            0        0            0          1
19              0         0            0        0            0          0
20              0         0            0        0            0          0
21              0         0            0        0            0          0
22              0         0            0        0            0          0
23              0         0            0        0            0          0
24              0         0            0        0            0          0
25              0         0            0        0            0          0
26              0         1            0        0            0          0
27              0         0            0        0            0          0
28              0         1            0        1            0          0
29              1         0            0        0            0          0
30              0         1            1        0            0          0
31              0         0            0        0            0          0
32              0         0            0        0            0          0
33              0         0            0        0            0          0
34              0         0            0        0            0          0
35              0         1            0        0            0          0
36              0         0            0        0            0          0
37              0         0            0        0            0          0
38              0         0            0        0            0          0
39              0         0            0        0            0          0
40              1         0            1        0            1          0
41              0         0            0        0            0          0
42              0         1            0        0            0          0
43              0         0            0        0            0          0
44              0         0            0        0            0          0
45              0         0            0        0            0          0
46              0         0            0        0            0          0
47              0         0            0        0            0          0

    HS_Other  HS_Weak  HS_Moderate  HS_Strong
0          1        1            0          0
1          0        0            0          0
2          0        0            0          0
3          0        0            0          0
4          0        0            1          0
5          1        0            1          0
6          0        0            0          0
7          0        0            0          0
8          0        0            0          0
9          0        0            0          0
10         1        1            0          0
11         0        1            0          0
12         0        0            0          0
13         1        1            0          0
14         0        1            0          0
15         0        1            0          0
16         0        0            0          0
17         0        0            0          0
18         0        0            1          0
19         0        0            0          0
20         0        0            0          0
21         0        0            0          0
22         0        0            0          0
23         0        0            0          0
24         0        0            0          0
25         0        0            0          0
26         1        0            1          0
27         0        0            0          0
28         0        0            1          0
29         1        1            0          0
30         0        0            1          0
31         0        0            0          0
32         0        0            0          0
33         0        0            0          0
34         0        0            0          0
35         1        0            1          0
36         0        0            0          0
37         0        0            0          0
38         0        0            0          0
39         0        0            0          0
40         0        1            0          0
41         0        0            0          0
42         1        0            1          0
43         0        0            0          0
44         0        0            0          0
45         0        0            0          0
46         0        0            0          0
47         0        0            0          0

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')
posc = df[df['HS'] == 0].count()
ngvc = df[df['HS'] == 1].count()

print(posc['HS'])
print(ngvc['HS'])

divisions = ["Positive", "Negative"]
division_average_marks = [posc['HS'], ngvc['HS']]

plt.bar(divisions, division_average_marks, color='green')
plt.title("bar graph")
plt.xlabel("Tweet")
plt.ylabel("Count")
plt.show()

ModuleNotFoundError: No module named 'matplotlib'